# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Pytest cache
.pytest_cache/

# IDE/editor folders and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and databases
*.log
*.sqlite3

# Environment variables files
.env

# Python coverage reports
htmlcov/
.coverage
.coverage.*

# MyPy cache
.mypy_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac OS system files
.DS_Store

# Windows system files
Thumbs.db
