<!-- components/product_card.html -->
<a href="/product/{{ product.name | lower | urlencode }}" class="block">
  <div class="bg-white shadow rounded p-4 hover:shadow-md transition">
    <div
      class="w-full h-64 flex items-center justify-center overflow-hidden mb-2"
    >
      <img
        src="{{ product.photo_url }}"
        alt="{{ product.name }}"
        class="object-contain w-full h-full"
      />
    </div>
    <h3 class="font-semibold">{{ product.name }}</h3>
    <p class="text-gray-700">{{ product.final_price }} Euro</p>
  </div>
</a>
